<div id="footer" class="footer" itemprop="provider" itemscope itemtype="http://schema.org/Organization">
  <div class="container">
    <p class="muted credit">
      zSticker (eXperimental)
    </p>
  </div>
</div>
